element.style{
    position: static;
    visibility: visible;
    display: inline-block;
    width: 300px;
    height: 400px;
    padding: 0px;
    border: none;
    max-width: 100%;
    min-width: 180px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 200px;
}
iframe[styles]{
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}
iframe{
    border-width: 2px;
    border-style: inset;
    border-color: inherit;
    border-image: inherit;
}
.SandboxRoot.env-bp-min {
    font-size: 12px;
}
.SandboxRoot {
    display: block;
    background: 0 0;
    font: normal normal 14px/1.4 Helvetica, Roboto, Calibri, sans-serif;
    color: #292F33;
    white-space: normal;
    white-space: inherit;
    direction: ltr;
    text-align: left;
}
.timeline-Widget {
    max-width: 1200px;
    background-color: #fff;
    border-radius: 5px;
}
.timeline-Body{
    position: relative;
    border-top: 1px solid rgba(15, 50, 100 0.12);
    border-bottom: 1px solid rgba(15, 50, 100 0.12);
}
.timeline-Footer {
    padding: 15px;
    font-size: 12px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
footer {
    display: block;
}
.u-cf::after, .u-cf::before{
    content: " ";
    display: table;
}
.u-cf::after{
    clear: both;
}
,.timeline-InformationCircle-widgetParent {
    position: relative;
}
.timeline-Header {
    padding: 10px;
}
.hp.row.one .headlines-scroll-ctrl {    
    color:#6716EF;
} 
.hp.row.one .headlines-scroll-ctrl {
    position: absolute;    
    font-size: 30px;    
    width: 30px;    
    height: 30px;    
    top: 50%;    
    margin-top: -15px;    
    cursor: pointer;    
    text-align: center;
}
.hp.row.one .headlines-scroll-ctrl.back {    
    left: 0%;
}
.hp.row.one .headlines-scroll-ctrl.next {   
    right: 0%;
}
.hp.row.one div.ui-widget.app.headlines{    
    position: relative;
}
.hp.row.one div.ui-widget.app.headlines .ui-widget-detail {    
    overflow: hidden;    
    margin: 0px 0px; 
}
.hp.row.one div.ui-widget.app.headlines .ui-articles {    
    width: 100%;    
    margin: 0px;    
    position: relative;
}
.hp.row.one div.ui-widget.app.headlines li {    
    float: left;
}
.hp.row.one div.ui-widget.app.headlines .ui-article {    
    position: relative;    
    padding: 15px;
}
.hp.row.one div.ui-widget.app.headlines .ui-article-thumb {    
    float: none;    
    overflow: visible;
}
.global-icon {	
    display: block;	
    margin: 0px 15px;
}
.global-icon .icon {	
    display: block;	
    padding: 0px 0px 7px;	
    font-size: 40px;	
    text-align: center;	
    color: #2e4254;	
    speak: none;	
    font-style: normal;	
    font-weight: normal;	
    font-variant: normal;	
    text-transform: none;	
    line-height: 1;	
    -webkit-font-smoothing: antialiased;
}
.global-icon .text {	
    display: block;	
    text-align: center;	
    font-size: 12px;
}
.global-icon {	
    display: block;	
    margin: 0px 15px;
}
.global-icon .icon {	
    display: block;	
    padding: 0px 0px 7px;	
    font-size: 40px;	
    text-align: center;	
    color: #2e4254;	
    speak: none;	
    font-style: normal;	
    font-weight: normal;	
    font-variant: normal;	
    text-transform: none;	
    line-height: 1;	
    -webkit-font-smoothing: antialiased;
}
.global-icon .text {	
    display: block;	
    text-align: center;	
    font-size: 12px;
}
.hidden {
    display: none;
}
.rs-gallery-ally-hidden {
    width: 0 !important;
    height: 0 !important;
    display: inline-block !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    overflow: hidden !important;
}
#rs-gallery-container-153261 .rs-gallery-images {
    width: 100%; height: 100%; position: static;
}
#rs-gallery-container-153261 .rs-gallery-images ul.rs-gallery-images-list {
    position: relative;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#rs-gallery-container-153261 .rs-gallery-images ul.rs-gallery-images-list li {
    width: 100%; 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    display: none;
    background: #000;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}
#rs-gallery-container-153261 .rs-gallery-images ul.rs-gallery-images-list li.active {
    display: block;
    z-index: 4;
}
#rs-gallery-container-153261 .rs-gallery-images ul.rs-gallery-images-list li.next {
    display: block;
    z-index: 3;
}
#rs-gallery-container-153261 .rs-gallery-images ul.rs-gallery-images-list li.prev {
    display: block;
    z-index: 2;
}
#rs-gallery-container-153261 .rs-gallery-images ul.rs-gallery-images-list li .watch-btn {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 50%;left: 50%;
    padding: 10px 10px 10px 40px;
    margin: -25px 0px 0px -50px;
    z-index: 15;
    border-radius: 5px;
    background: #000;
    background: rgba(0, 0, 0, .80);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
#rs-gallery-container-153261 .rs-gallery-images ul.rs-gallery-images-list li .watch-btn:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: 12px;
    left: 15px;
    border-style: solid;
    border-width: 12px 0 12px 16px;
    border-color: transparent transparent transparent #ffffff;
}
#rs-gallery-container-153261 .rs-gallery-images ul.rs-gallery-images-list li .watch-btn p {
    margin: 0px;
    color: #FFF;
    font: normal 15px/100% "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    text-align: center;
}#rs-gallery-container-153261 .rs-gallery-videos, #rs-gallery-videos-153261.rs-gallery-videos {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
#rs-gallery-container-153261 .rs-gallery-videos .video, #rs-gallery-videos-153261.rs-gallery-videos .video {
    position: absolute;
    top: 20px; 
    bottom: 20px; 
    left: 20px; 
    right: 20px;
    background: #FFF;
    z-index: 30;
    -moz-box-shadow: 0px 0px 23px rgba(0, 0, 0, .65);
    -webkit-box-shadow: 0px 23px 0px rgba(0, 0, 0, .65);
    box-shadow: 0px 0px 23px rgba(0, 0, 0, .65);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 8px #FFF;
}
#rs-gallery-container-153261 .rs-gallery-videos .video .close-btn, #rs-gallery-videos-153261.rs-gallery-videos .video .close-btn {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 0px 25px 0px 0px;
    color: #666;
    line-height: 1;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    font-size: 14px;
    cursor: pointer;
}
#rs-gallery-container-153261 .rs-gallery-videos .video .close-btn:after, #rs-gallery-videos-153261.rs-gallery-videos .video .close-btn:after {
    content: "X";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -8px;
    background: #999;
    border-radius: 9px;color: #FFF;
    font-weight: bold;line-height: 16px;
    font-size: 9px;text-align: center;
}
#rs-gallery-container-153261 .rs-gallery-images ul.rs-gallery-images-list li img {
    width: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}
#rs-gallery-container-153261 .rs-gallery-thumbnails-outer {
    bottom: 0px; 
    left: 0px; 
    right: 0px;
    position: absolute;
    background: #000;
    background: rgba(0, 0, 0, .75);
    z-index: 20;
}
#rs-gallery-container-153261 .rs-gallery-thumbnails {
    top: 0px; 
    left: 0px; 
    right: 0px;
    position: absolute;
    overflow: hidden;
}
#rs-gallery-container-153261 .rs-gallery-thumbnail-list {
    list-style: none;
    margin: 0px;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
}
#rs-gallery-container-153261 .rs-gallery-thumbnail-list li {
    width: 122px;
    height: 53px;
    margin-right: 10px; 
    float: left;
    cursor: pointer;
    opacity: 0.5;
    overflow: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#rs-gallery-container-153261 .rs-gallery-thumbnail-list li.active {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
}
#rs-gallery-container-153261 .rs-gallery-thumbnail-list li.last {
    margin: 0px;
}
#rs-gallery-container-153261 .rs-gallery-thumbnail-list li img {
    display: block;
    width: 100%;
    height: auto;
}
#rs-gallery-container-153261 .rs-gallery-thumb-control {
    padding: 7px 10px;
    cursor: pointer;
    background: #000;
    background: rgba(0, 0, 0, .20);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}#rs-gallery-container-153261 .rs-gallery-thumb-control.back {
    top: 0px; 
    bottom: 0px; 
    left: 0px;
    position: absolute;
}
#rs-gallery-container-153261 .rs-gallery-thumb-control.back:before {
    content: "◀"; 
    margin-top: -6.5px;
    display: block;
    text-align: center;
    line-height: 1;color: #FFF;
    font-size: 13px;
}
#rs-gallery-container-153261 .rs-gallery-thumb-control.next {
    top: 0px; 
    bottom: 0px; 
    right: 0px;
    position: absolute;
}
#rs-gallery-container-153261 .rs-gallery-thumb-control.next:before {
    content: "▶"; 
    margin-top: -6.5px;
    display: block;
    text-align: center;
    line-height: 1;
    color: #FFF;
    font-size: 13px;
}
#rs-gallery-container-153261 .rs-gallery-desc {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    bottom: 0px;
    left: 0px;
    z-index: 20;
}
#rs-gallery-container-153261 .rs-gallery-control-text {
    position: relative;
    display: block;
    width: 0px !important;
    height: 0px !important;
    overflow: hidden !important;
}
#rs-gallery-container-153261 .rs-gallery-control.play-pause {
    width: 24px;
    height: 25px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 15;
    border-radius: 5px;
    background: #000;
    background: rgba(0, 0, 0, .80);
}
#rs-gallery-container-153261 .rs-gallery-control.play-pause.playing:before {
    content: "";
    width: 0px;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 7.5px;
    border-left: double 10px #FFF;
}
#rs-gallery-container-153261 .rs-gallery-control.play-pause.paused:before {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent #FFF;
    position: absolute;
    top: 5px;
    left: 8.5px;
}
#rs-gallery-container-153261 .rs-gallery-control.back {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -15px;
    z-index: 20;
    cursor: pointer;
}
#rs-gallery-container-153261 .rs-gallery-control.back:before {
    content: "<";
    display: block;
    text-align: center;
    line-height: 100%;
    color: #FFF;
    font-size: 50px;
}
#rs-gallery-container-153261 .rs-gallery-control.next {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -15px;
    z-index: 20;
    cursor: pointer;
}
#rs-gallery-container-153261 .rs-gallery-control.next:before {
    content: ">";
    display: block;
    text-align: center;
    line-height: 100%;
    color: #FFF;
    font-size: 50px;
}
#rs-gallery-container-153261 .rs-gallery-bullets-outer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    z-index: 10;
}
#rs-gallery-container-153261 .rs-gallery-bullet {
    width: 12px;
    height: 12px;
    background: #FFF;
    border: solid 1px #666;
    display: inline-block;
    margin: 0px 5px;
    cursor: pointer;
    border-radius: 8px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}
#rs-gallery-container-153261 .rs-gallery-bullet.active {
    background: #999;
}
#rs-gallery-container-153261 .rs-gallery-bullet-control {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0px 10px;
    cursor: pointer;
    vertical-align: top;
}
#rs-gallery-container-153261 .rs-gallery-bullet-control.back:before {
    content: "<";
    color: #FFF;
    font-size: 20px;
    display: block;
    line-height: 12px;
    text-align: center;
}
#rs-gallery-container-153261 .rs-gallery-bullet-control.next:before {
    content: ">";
    color: #FFF;
    font-size: 20px;
    display: block;
    line-height: 12px;
    text-align: center;
}
#rs-gallery-container-153261 .rs-caption.active, .rs-title.active {
    position: relative;
    z-index: 2;
}
#rs-gallery-container-153261 .rs-caption.next, .rs-title.next {
    display: none;
    position: relative;
    z-index: 1;
}
#rs-gallery-container-153261 .image.loading .loader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    line-height: 150px;
    color: #ccc;
    font-size: 14px;
    margin: -75px 0px 0px -75px;
    box-sizing: border-box;
    text-align: center;
    z-index: 5;
    text-transform: uppercase;
}
#rs-gallery-container-153261 .loader:before, .loader:after {
    opacity: 0;
    box-sizing: border-box;
    content: "\0020";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 5px solid #fff;
    box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
}
#rs-gallery-container-153261 .loader:after {
    z-index: 1;
    -webkit-animation: gogoloader 2s infinite 1s;
}
#rs-gallery-container-153261 .loader:before {
    z-index: 2;-webkit-animation: gogoloader 2s infinite;
}
@-webkit-keyframes gogoloader {
    0% {
        -webkit-transform: 
        scale(0);opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}